.chat {
    display: flex;
    flex-direction: column;
    flex: 80%; // flexの修正
    background-color: #33363d;
    color: #ffffff;
    height: 100vh;
}
.chatMessage {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: scroll;
}