.sidebar{
    display: flex;
    flex: 35%;
    height: 100vh;
    background-color: gray;

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:15px;
        background-color: black;
        padding: 7px 15px
    }

    .serverIcon{
        img{
            width: 55px;
            height: 55px;
            background-color: gray;
            border-radius: 9999px;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover{
                background-color: #2f3136;
            }
        }
    }
}